body{
    background-color: rgb(210, 210, 210);
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border-style:solid;
    border-width: 2px;
    margin: auto;
}

h2{
    text-align: center;
}

legend{
    margin-bottom: 10px;
}

fieldset{
    border: solid;
    font-size: 15px;
}

th, td{
    border: none;
    border-width: 0px;
    margin: auto;
    padding: 10px;
}

td{
    background-color: rgb(80, 131, 194);
}

th{
    background-color: rgb(54, 92, 131);
}

input{
    padding: 5px;
}

table > caption {
    font-size: x-large;
    font-weight: bold;
}

#total{
    font-weight: bold;
}

#submit{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

#reset{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px; 
}

#scourse{
    padding: 10px;
}

#scourse:hover{
    color: rgb(57, 57, 57);
}

#submit:hover{
    background-color: rgb(128, 128, 128);
    border-radius: 5px;
}

#reset:hover{
    background-color: rgb(128, 128, 128);
    border-radius: 5px;
}

.table{
    text-align: center;
}

.form{
    background-color: rgb(132, 147, 191);
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-inline: 200px;
    padding-left: 30px;
}

.fieldbox{
    background-color: white;
    margin-top: 50px;
    margin-right: 700px;
    margin-bottom: 50px;
    margin-left: 10px;
}